
    
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('https://lh3.googleusercontent.com/xrDUMZxoLW4t-n09N-J_wtMOBOH3wMYGNFoyL-q0ViCNPxy9ZrgqR9m5I27TEhuhn0XGW8owMG0RSfQZmBfTO44Is2XXhLM4Yq_KFFGOc_W88tWS3SDMZUMrwQjwc6pn_GfnQTgJhakqYZBBTuz7MthEVWKPRI6dGqzEsVCOxpRKIaERd590lDN_wrFTSpKa4A5_oxvBoiLOhzSuvgUNNGTgmfTF7-lp3YEjfDhMdH7VU8Lban-Qnun14848eqKwcYTNTOhKMTDEm-zsC22CJ2wqRq8JCd1q_-Xf78XSZ_6ziJzO3KwYIpyJbxLxuIQCXx3-VRYbOaRsZcULirRhc6NJcMVk4516fCAClGeEnj0Js5ead4pqswYod8PkZs7EREEnQSXZIyWvQqr9h40wwFNuTZ_TVG-CvxW_pLzMKZlIjGb3OTbuThxMTQPK2YrrVACF6nR7UPUuAtSe8NmbN9D2znyFp77zNpAw9ll7_XaIfDI5QIyGlT3TdpHQsL0TzPk8NEUzYi4xIBzikoBWsWUmrryxcCC9GptRBomjLmJpI1fgiolDTiRANEExiiee5cPSe9DaW-7gBEqU0Hf4a00y0T4aaFP9YB3rvQI=w2866-h1912-no')">
            <div class="carousel-caption d-none d-md-block">
              <h3>First Slide</h3>
              <p>This is a description for the first slide.</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://lh3.googleusercontent.com/GNCkPsPmFeQlt4v9_fhc1WrpTKrT_hDQWRuRDXl72GEV8SaTe3d2ofyVwpET02pARHSXLvKap5hs2zVkiABdFWA6kTopKaW3T1yLp0Q9LN-ghw06MR9OYx8ppnqzbT_Sjd4WRruJtUTbTrW88vauwFeMulnKa4vBvSR8ArxvQfXr3HDNy8tjJpCn_zobVQzAakaB_-JL1jwWKkCNut6U44nhzflaBhKMM-qKFRRAaErapDy7iG8eyxA0-TRFN7CBo1I4Ks39CwpdNK8PirmZ1Fvnf_fh983u9mFnCIYH71JQXdzrnVPrKjvtfEChfP6LUagKsx_krYgN9hAU_Ji8_VV-QJN2pWjcJLGma3Qm6Md31-HDNur7CKht3SLkUihQDYRTpYP75kqlEKaKStT4Kft_ouwbpnyDZaliJYyRI2X9O44oCl9Y1hv6RY0GC6SQsZGpkdMAXNp1Nmw--P3mnkQdjUxBUBQpUXHizXiDCop3Z9YG9NtFsPppcfb7zlkpna_MZ83Tg5xj6kqXtXzvGrFlECJdO0f6IoHlhrxfmbuEdcZOsZODAig8_7CfGKpwzlGR-HmBV8p8W0f3ho9j50w-Yu1OwdFZaRrmda8=w2578-h1718-no')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Second Slide</h3>
              <p>This is a description for the second slide.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://lh3.googleusercontent.com/5EkaW0D8O8QboPcQlaMJsI_Nk1r08N2f1XU6oNVqzUlolugrR86xrk3_zh-nhjkTWTTe2hfT1Wt15dB38RmA0iIVRlcFnYADOaflvVeAJ1gc52uIdp3MV030iPYAy0TXwde_mmwQscSUWjmXOVl2TY1OPTUyZBzu4hy5TqNFafKKi6Kp1Q4hng47u16tdeeM0z8dt-aQi_bKr-et9PY6AAts6nFFYT8C_0pmTEIGk32xPdzVV8H_NbFIJnvaDG-dRDLs_ztBviFg4pBWnjSEPIebjcUPRjjSQ08_FoQt_kj_TBYLQAwNJpDbrzZDAA5hxzdlPGp5px9Ik6ziM7EwxtM_VqUOOsmYs8mb-LanAPhyFfH5EGTJTZQdOFPILij2IwAKaECq4R6U6IbtyFl0bEJfj563UV5uYgejjXoCcO5l1mRvpRdrVPJLBdCGk5PfDxn3PvUur_oshmkOBnyDJImVVmQvZVdKHMBZOZBoYQzgoxwt1F-6LAsvoaClHmpUexQUebMnc5rFffzJRI5cFLleSlDgnmLv94UBAUeupSPfKfJ3Jwd1yPfuieIpjscKq0T5xQ1fx_zlxzSJ-XkLh7vImghPlPAgITGZ8JI=w2578-h1718-no')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Third Slide</h3>
              <p>This is a description for the third slide.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>
    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Welcome to Modern Business</h1>

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Portfolio Section -->
      <h2>Portfolio Heading</h2>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://lh3.googleusercontent.com/n__HAPnsRmf_HRwY6mFI-VWiRKmUEspX7Jdem-6T_QIMWuNs58FRJHeVYHodSEnrGeu8XzEOLISfic4wH_wUecE7QRa-b22LUdOgVT6UhtbfosIw3A0ifysnOMPidyPexoYBEWneSIQHfTcyF1_7bGmN4N319MvmvCMgqD9AdDyaJv7l5nI4VlhqGPZoUP4X22GeHPFdf8BJX-ile4rNbungKo3KxNjs0Sl3Iq_vxXe8LQJ_T-QS-p5kZfiB0fYtpbOX1v5VhCFJsGicMnoPpBgyFIr5yVbs_T8Dd8SYvOWhdE4S5LSsSFyZN12CuOF3f77P7BpTdqfcMa7gMtwUlXR-cIE306Cs4JDO0EKqaA9lKDDlhT8S-cGonSqaeUKXeUVnh4QmA4vFgt73svhHyjjpsvZeeFs4zQMGwvrkhdk7vOsX2CDGNXAPlGYujrqF99EUpknf9CXrntF9fqHIWOPwz8-4eZfDCEoU8tQasEWfG4yRt3DBHN_0LIY-GbQrS3jtlRgT_OuYgw7aoC9TmOJHQWzXSkf-fG4r5id6RFGA1hK-vMZhz4f9SUtW1JVQwEpu7BSvLuWtNGZfgGDsyD6KDmXinWZz5CcJiGE=w2578-h1718-no" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project One</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://lh3.googleusercontent.com/272ys7uHhPBGwZvBTxKcC-hDfOeC2sVk6W8A4FoazH7WZUWDoabHbG_82CfsSpWO3VFNYXanUk9LWsqMmLc9y_pdQDK-WKU3GxGY31AiRGzk-aS_7m5EPxTf9WWWi1567hvzC0WXXoSK1EEFbdHS4am6fCy94huWL0UApFhZMFpZDd-tdzuD0AHKqRS9b2smD58onnZDZOhm_jwDAwjiJkjyvLGCXmu4gzoI3sGrvjAbYeRIdwV6-p5IxJlSqmucVbPu36hHRTCOwHzSXEK6brhhBSJipJb1jGkwca6IMVFRY-QLkS9UfXpVGNPZPvwP1gcPKhln8InsKUnWZqR4p666ZPhkJPfBs9gudAEwszDXccIn7Vgjxp8eQa0s7Db6nJuSWvrvB7C4niCNpmftyC7eJun4Km_qX6jfI-I8Kgbasz8iC7sAbuzZKyW4TJbdu3WCkOdpjaEBcNH3_i4PCWh5Zl-M2awvpiZey1k_UQWskjEjecngfhSEW2T4ZHt7YmHzMRqTRFXvdYzs9R_yyK-Pb9Fzp4Sag4rjXxtar7OjXQa_LowOwdUKVHt5Oy5lbtnAwZq_lFrbTYQVnxQth9fyrIx_jTnJ4nSFBCk=w2578-h1718-no" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Two</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://lh3.googleusercontent.com/LAOmroTCUExTksVmt45RASDutSdaRPpjtW5kKMohuZuwKAx7dblSzoUXM6blWc43Pr1jZBuzmUz8qIowrAS8SFJ9-MKVlShnLFqqtmkJKziokeAbu5aFEGq_EHXPHRFHaz-JTRJyMUOd6mxOIY6tatLxInuo6zZNlJ9nE3oMkpSL8WPl7zozhpHHplscPNlYuRrS6sTA6KgdvGpZsbQzOZBprLFvrSsPBncJW0alYq_NQ0VqqxmsCP3Iushtm4S7s4CXlFFen1qnaWP7dhPJ8tef4ZQXF7MVgsf2r2xhHdIKQm1-NFupFsHY76YiN7KbpXO18Ni6ooKFBarp1lHNs3qLzgQc0I9Dj8flxgY_-pTa6S3JfSb2QsFsesXMUaHbUq55maaU7FQR4bkV2X_FTctt93cD2YKpKsLHpUf7DEx0Rvi0vuSyCiq1njZtfQXLDljmZEGtJjnnjkxuiF1d-slLMWCFyIo4qRD2xL3eUHE0FECHnJQCtA31bX50BrZSKx8aFaqDRtB9ZDvEjUEfY4WD6f-0YBRQX-iMO8jcXOmNJlKbANcWIOwG9K5fHkUpeJSHvWf-r5FNBAd35lesIGgtS6OdclT-dw7FZtU=w2866-h1912-no" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Three</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://lh3.googleusercontent.com/GAvBm-o9Gv3viIqinLCGbOc2KR_jHfwZrElQoPoVwhvRxSD4W3yRzoytIXURMdfcs1BpfRMuxzgYccr-FWg6gVyNd77MdEkR4pDj6ojpfGuDL04clO7GySNVqluldPm-B0qU3dojEl3TxARzZRGSPgpNv6SBALFD-dU4Q0FmGV4w4SUJtJ-qdss7V1-Axlgqos0JX2n6x3ibamp5_kENxPCxlmIfIDiximv-e7MUQi7GrXvq9v9CJdWxk28W_hGD_uUMU8qigoLc04Kj3G7QzAa40CYNvbPGUNDY85LtER2IjAHp8sJdJ7yJTqtN7b660QU_D5MSxTGH-e6bgULwPocTyzMr-UjFXpT6Kwo1gkEWOQvEOwYsxNNSrvjeMsbC4BW9NiEm2YYjEXLRJX9efMBShMvaYYzFr4eQVcD9ZFF3LSq7YCn35mtjWvrG-ep_XUPaGns-fS-W2AWWPycm8TA4AzEiDYbkh_ucbnuj2IqEaI_PVhOK4kBJhjdXiP8WdXnDkB_3_cJB40Tv0SNnhZ3y0gIptxX3Yrr3t-Ex_YoAcfRDba100Dv6DB8ateGCOzjQXoavR0FSntATwWfiumlfpC_PF1IG5DYbz_o=w1848-h1232-no" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Four</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://lh3.googleusercontent.com/L1YspqBFBwfRmYv_IQGGecjz3ue-Xb7P4mokd9RYSfYpkyXtBeWD0i49uCUu76qLlryAkXy4YvNIv3rmXAsFZy1_B9SZD9jzdYc6mfvTn5sQvWdkVB0CB0h7neSKip0ZTp1yUx_zjriHS24XqqABMIq8dDbf1cAOxbYrrHkgXFOv4VCyBd6kUVY2b3C4oBXtepWU0rB8aqim-FIFBrvP4JLEwETwKPBfXJefSSkXA1Tp6UpDFX1C9GV3gn3BOm98Js7vYtQuBfISDdWdyPLfMMdC1W2Q-V65DiYQ5ziOCs9aiNkwmbxRxaDoR2Pn49i8yk2mml7c5X2R1_pPYu3xHjth1ejp17ZitO2pRtIgPdfzPl2M-M2ePlLMCafJCod5JKGRmpZCYiZ4JKGI9XashdbJxg1VXXisfqV-ukKn6SSVeIiwL384M5OH-pHEPMz0RWu31AhQWt6qMQZtX5TCDPQJTfioEMLExgWAv1kPVEsLUQzVbcQyfYkpddwFe_ggRTNurVJBBoITpSHGFW6BeiMaKPaMi8feRDxZg_RHBw0pTNX0SsyokOkvk9rnl7EOWbjSB_nGIgcq8MRxVAHB0UMegwSUOhwjZcjr3fw=w2866-h1910-no" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Five</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://lh3.googleusercontent.com/iHccMuCBrGg76DWFGX_08KXXfG4dcbGLIY8Sn9is2IAuq_ywECDo50dZorOx3Nnhm80zSQLIvNSyXjVXNLiBxEGNh06imyaVPbG_YSQ9spxLrcyFh5_6EWRMu7XunS7T75fQp-C9n28UcdifDTFCcJDLZE1ijw2Ajjk9wC4rkb8YfazZtvXXKRMcOqEmBeZszn6KtptpyekpFeEad6lTbcAuLV3icClBHtA6Ly-8YMYInzdDZ_6CxIgWaJVcSxUV8EZXbyRdGBkKCbZR6bexTSLvvlFZtWMe2hZkAAa2EfRKn8h3A1SSXS8qy9WyynoY4BM4huvXFqm4tcB-Z4-S1KXrufJyzMibDQVz_1sKHxnQE68P-MLWWyaPKrBzBp_VPTVykirQEoDelMnrJ1EaDOQ3nhnRZTVcNPvTVpkBKmk3UVXNLooWY11vBC-0LrLHKJ_K7QYug_FNLd0y0OWgLYt_BXiCUuhuGVWZBt6nEcqo9iY95BTk8CTq8FOrLQNrzA1c1qcSrQ1XkGc335vta4FCvbJt6ZaYKNcx-ifTgUg10xT67xaAAsho_9GW_InhQFrAGI7PjRUzQrTp9a7gVrPI1yYbiKZXCeB4A10=w2866-h1912-no" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Six</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Modern Business Features</h2>
          <p>The Modern Business template by Start Bootstrap includes:</p>
          <ul>
            <li>
              <strong>Bootstrap v4</strong>
            </li>
            <li>jQuery</li>
            <li>Font Awesome</li>
            <li>Working contact form with validation</li>
            <li>Unstyled page elements for easy customization</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/2sxKhXAGM_6Z__6WYQoJNTUVmD_Ucxs_npFAinziiR3WwadQd6HnDPLZnQUd4xh_iLqxEThuxYZ05N1bnb8WDImt53JJ-aReaYWqXbzvMyU31n67MNmth0wNrU_cKAM2c9TUbKmUut35Ih-G35N1xmaQyqQZSdAI7sl_--GJQDpQS70-Hn6Z_Zmn0oXY3M1unoqJR55Migst1Z6K2CTdourcvUIJkJ7sLFGlYLtfylK8j9ELko3y-Bs49Gm3mYyAfhJL4fqCPyPV-yyLMcDAxvbNgIPBOscI_AujSPwPRWLT3RsX0VxUn6uWU0qQt2T0FzQoj2iY1HN-o1_ZG-7rgMwFbWiWaov50QiFTk-ZRTF7K-zlyfaqGMuZKHswNtFtWfpHLlyGUpUtTJy79kynCDxChdmkrGyWzA4m83L1Ajlc4FYeu4f2IriB9mPyCrp_oJuFSAtsjNkGvoZ5xewn9BYcNTvrHPgoOZ3cHC_h1-KlgRvzoa0P7qzoqdolkxi8outMsiM3Bn3yskF4gXzGmJUdk7M6C0lWmz2lOnhu_JVMeWJo0V57zjYkccXi6nzW8_eTyiH2g08ifyV8K572fMpQoscfISS0e6JiMBk=w1848-h1232-no" alt="">
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>
